.mainblock {
    width: 300px;
    height: 200px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: wheat;
}
.settingsblock{
    width: 260px;
    margin: 10px auto 10px auto;
    height: 100px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: gray;

    font-size: 50px;
}
.buttonblock {
    display: inline-block;
    width: 260px;
    margin: 20px auto 20px auto;
    height: 50px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: gray;
    box-shadow: gray;

}

